
html{
    background-color: rgb(0, 0, 0);
}
body{
    
    font-family: Arial, sans-serif;  
    margin: 0 auto;
    max-width: 1500px;
}
header.barra_nav{
    background-color: rgba(56, 56, 56, 0.123);
    font-size: 0.8cm;
    padding: 0.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5cm;
    
}
.barra_nav a{
    text-decoration: none;

    color: white;
}
.barra_nav a:hover{
    color: rgb(21, 178, 231);

}

section.parte1{
    margin-top: 5cm;
    margin-bottom: 5cm;
}
section{
    margin-top: 5cm;
    margin-bottom: 5cm;

}

h1{
    color: rgba(21, 179, 231, 0.950);
    text-align: center;
    font-size: 1.2cm;
}
h2{
    color: rgba(21, 179, 231, 0.950);
    font-size: 1.5cm;
}
p{
    color: rgba(255, 255, 255, 0.884);
    font-size: 1cm;
}
img.gato{
    display: block;
    margin: auto;
    border: solid rgb(21, 178, 231);
    width: 6cm;
    border-radius: 10%;
    
}
ul.hobbie{

    font-size: 30px ;
    padding: 0;
    list-style: none;
}
.hobbie li{
    margin-bottom: 1cm;
}
.hobbie a{
    color: rgb(255, 255, 255);
}
.hobbie a:hover{
    color: rgb(21, 178, 231);

}


